<p>first name: <%= @contact.first_name %></p>
<p>middle name: <%= @contact.middle_name %></p>
<p>last name: <%= @contact.last_name %></p>
<% @contact.phone_numbers.each do |number|  %>
  <span><%= number.full_number %></span>
<% end %>
<% @contact.addresses.each do |address|  %>
  <p><%= address.address %></p>
  <p><%= address.zip %></p>
  <p><%= address.city %></p>
  <p><%= address.state %></p>
  <p><%= address.country %></p>
<% end %>


<%= link_to "edit contact", edit_contact_path(@contact, :format => :partial), {:class => "remote-popin"} %>
<%= link_to 'delete contact', @contact, :confirm => 'Are you sure?', :method => :delete %>
<%= link_to "export to Vcard", contact_path(@contact, :format => :vcf) %>
